#wasm-editor {
    font-size: 20px;
}

#wasm-editor-form {
    width: auto;
    margin: auto 5em;
    border: 2px solid red;
    float: right;
}

#wasm-editor-error {
    width: 40em;
    margin-left: 10em;
    text-align: center;
    font-size: 20px;
}